In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('books_1.Best_Books_Ever.csv') 
df

,bookId,title,series,author,rating,description,language,isbn,genres,characters,bookFormat,edition,pages,publisher,publishDate,firstPublishDate,awards,numRatings,ratingsByStars,likedPercent,setting,coverImg,bbeScore,bbeVotes,price
0,2767052-the-hunger-games,The Hunger Games,The Hunger Games #1,Suzanne Collins,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9780439023481,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...","['Katniss Everdeen', 'Peeta Mellark', 'Cato (H...",Hardcover,First Edition,374,Scholastic Press,09/14/08,NaN,['Locus Award Nominee for Best Young Adult Boo...,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,"['District 12, Panem', 'Capitol, Panem', 'Pane...",https://i.gr-assets.com/images/S/compressed.ph...,2993816,30516,5.09
1,2.Harry_Potter_and_the_Order_of_the_Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter #5,"J.K. Rowling, Mary GrandPr√© (Illustrator)",4.50,There is a door at the end of a silent corrido...,English,9780439358071,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...","['Sirius Black', 'Draco Malfoy', 'Ron Weasley'...",Paperback,US Edition,870,Scholastic Inc.,09/28/04,06/21/03,['Bram Stoker Award for Works for Young Reader...,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0,['Hogwarts School of Witchcraft and Wizardry (...,https://i.gr-assets.com/images/S/compressed.ph...,2632233,26923,7.38
2,2657.To_Kill_a_Mockingbird,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,4.28,The unforgettable novel of a childhood in a sl...,English,9999999999999,"['Classics', 'Fiction', 'Historical Fiction', ...","['Scout Finch', 'Atticus Finch', 'Jem Finch', ...",Paperback,NaN,324,Harper Perennial Modern Classics,05/23/06,07/11/60,"['Pulitzer Prize for Fiction (1961)', 'Audie A...",4501075,"['2363896', '1333153', '573280', '149952', '80...",95.0,"['Maycomb, Alabama (United States)']",https://i.gr-assets.com/images/S/compressed.ph...,2269402,23328,NaN
3,1885.Pride_and_Prejudice,Pride and Prejudice,NaN,"Jane Austen, Anna Quindlen (Introduction)",4.26,Alternate cover edition of ISBN 9780679783268S...,English,9999999999999,"['Classics', 'Fiction', 'Romance', 'Historical...","['Mr. Bennet', 'Mrs. Bennet', 'Jane Bennet', '...",Paperback,"Modern Library Classics, USA / CAN",279,Modern Library,10/10/00,01/28/13,[],2998241,"['1617567', '816659', '373311', '113934', '767...",94.0,"['United Kingdom', 'Derbyshire, England (Unite...",https://i.gr-assets.com/images/S/compressed.ph...,1983116,20452,NaN
4,41865.Twilight,Twilight,The Twilight Saga #1,Stephenie Meyer,3.60,About three things I was absolutely positive.\...,English,9780316015844,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...","['Edward Cullen', 'Jacob Black', 'Laurent', 'R...",Paperback,NaN,501,"Little, Brown and Company",09/06/06,10/05/05,"['Georgia Peach Book Award (2007)', 'Buxtehude...",4964519,"['1751460', '1113682', '1008686', '542017', '5...",78.0,"['Forks, Washington (United States)', 'Phoenix...",https://i.gr-assets.com/images/S/compressed.ph...,1459448,14874,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52473,11492014-fractured,Fractured,Fateful #2,Cheri Schmidt (Goodreads Author),4.00,The Fateful Trilogy continues with Fractured. ...,English,2940012616562,"['Vampires', 'Paranormal', 'Young Adult', 'Rom...",[],Nook,NaN,0,Cheri Schmidt,May 28th 2011,NaN,[],871,"['311', '310', '197', '42', '11']",94.0,[],https://i.gr-assets.com/images/S/compressed.ph...,0,1,NaN
52474,11836711-anasazi,Anasazi,Sense of Truth #2,Emma Michaels,4.19,"'Anasazi', sequel to 'The Thirteenth Chime' by...",English,9999999999999,"['Mystery', 'Young Adult']",[],Paperback,First Edition,190,Bokheim Publishing,August 5th 2011,August 3rd 2011,[],37,"['16', '14', '5', '2', '0']",95.0,[],https://i.gr-assets.com/images/S/compressed.ph...,0,1,NaN
52475,10815662-marked,Marked,Soul Guardians #1,Kim Richardson (Goodreads Author),3.70,--READERS FAVORITE AWARDS WINNER 2011--Sixteen...,English,9781461017097,"['Fantasy', 'Young Adult', 'Paranormal', 'Ange...",[],Paperback,NaN,280,CreateSpace,March 18th 2011,March 15th 2011,"[""Readers' Favorite Book Award (2011)""]",6674,"['2109', '1868', '1660', '647', '390']",84.0,[],https://i.gr-assets.com/images/S/compressed.ph...,0,1,7.37
52476,11330278-wayward-son,Wayward Son,NaN,"Tom Pollack (Goodreads Author), John Loftus (G...",3.85,A POWERFUL TREMOR UNEARTHS AN ANCIENT SECRETBu...,English,9781450755634,"['Fiction', 'Mystery', 'Historical Fiction', '...",[],Paperback,1st edition,507,Cascada Productions,September 1st 2011,April 5th 2011,[],238,"['77', '78', '59', '19', '5']",90.0,[],https://i.gr-assets.com/images/S/compressed.ph...,0,1,2.86
52477,10991547-daughter-of-helaman,Daughter of Helaman,Stripling Warrior #1,Misty Moncur (Goodreads Author),4.02,Fighting in Helaman's army is Keturah's deepes...,English,9781599554976,"['Lds Fiction', 'Historical Fiction', 'Young A...",[],Paperback,NaN,201,Bonneville,May 8th 2011,NaN,[],246,"['106', '73', '42', '17', '8']",90.0,[],https://i.gr-assets.com/images/S/compressed.ph...,0,1,5.20

# We first drop all the duplicates rows.

In [3]:
df = df.drop_duplicates(keep=False)

In [4]:
df.shape

(52378, 25)

# Then we check the NaN values

In [5]:
df.isna().sum()

bookId                  0
title                   0
series              28958
author                  0
rating                  0
description          1334
language             3796
isbn                    0
genres                  0
characters              0
bookFormat           1473
edition             47435
pages                2339
publisher            3688
publishDate           878
firstPublishDate    21280
awards                  0
numRatings              0
ratingsByStars          0
likedPercent          620
setting                 0
coverImg              605
bbeScore                0
bbeVotes                0
price               14323
dtype: int64

# We drop the column that are not relevant

In [6]:
drop_list = ['bookId','description', 'isbn', 'characters', 'edition', 'firstPublishDate', 'setting', 'coverImg', 'likedPercent', 'bbeScore', 'bbeVotes']

In [7]:
df = df.drop(columns=drop_list)

# We drop the rows with NaN values to keep only real records

In [8]:
df.isna().sum()

title                 0
series            28958
author                0
rating                0
language           3796
genres                0
bookFormat         1473
pages              2339
publisher          3688
publishDate         878
awards                0
numRatings            0
ratingsByStars        0
price             14323
dtype: int64

In [9]:
df.dropna(subset=['price'], inplace=True)

In [10]:
df.isna().sum()

title                 0
series            21289
author                0
rating                0
language           2039
genres                0
bookFormat          447
pages               679
publisher           616
publishDate         294
awards                0
numRatings            0
ratingsByStars        0
price                 0
dtype: int64

In [11]:
df.dropna(subset=['language'], inplace=True)

In [12]:
df.isna().sum()

title                 0
series            19782
author                0
rating                0
language              0
genres                0
bookFormat          260
pages               463
publisher           426
publishDate         168
awards                0
numRatings            0
ratingsByStars        0
price                 0
dtype: int64

In [13]:
df.dropna(subset=['pages'], inplace=True)

In [14]:
df.isna().sum()

title                 0
series            19483
author                0
rating                0
language              0
genres                0
bookFormat          190
pages                 0
publisher           322
publishDate         108
awards                0
numRatings            0
ratingsByStars        0
price                 0
dtype: int64

In [15]:
df.shape

(35553, 14)

In [16]:
df.dropna(subset=['publisher'], inplace=True)

In [17]:
df.isna().sum()

title                 0
series            19315
author                0
rating                0
language              0
genres                0
bookFormat          153
pages                 0
publisher             0
publishDate           0
awards                0
numRatings            0
ratingsByStars        0
price                 0
dtype: int64

In [18]:
df.dropna(subset=['bookFormat'], inplace=True)

In [19]:
df.shape

(35078, 14)

# We replace the NaN values in 'series' column by 'No' and the rows with data by 'Yes'

In [20]:
df['series']= df['series'].fillna('No')

df['series'] = np.where(df['series'] == 'No', 'No', 'Yes')

df['series'].value_counts(dropna=False)

No     19211
Yes    15867
Name: series, dtype: int64

In [21]:
df.head()

,title,series,author,rating,language,genres,bookFormat,pages,publisher,publishDate,awards,numRatings,ratingsByStars,price
0,The Hunger Games,Yes,Suzanne Collins,4.33,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",Hardcover,374,Scholastic Press,09/14/08,['Locus Award Nominee for Best Young Adult Boo...,6376780,"['3444695', '1921313', '745221', '171994', '93...",5.09
1,Harry Potter and the Order of the Phoenix,Yes,"J.K. Rowling, Mary GrandPr√© (Illustrator)",4.50,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",Paperback,870,Scholastic Inc.,09/28/04,['Bram Stoker Award for Works for Young Reader...,2507623,"['1593642', '637516', '222366', '39573', '14526']",7.38
4,Twilight,Yes,Stephenie Meyer,3.60,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",Paperback,501,"Little, Brown and Company",09/06/06,"['Georgia Peach Book Award (2007)', 'Buxtehude...",4964519,"['1751460', '1113682', '1008686', '542017', '5...",2.1
5,The Book Thief,No,Markus Zusak (Goodreads Author),4.37,English,"['Historical Fiction', 'Fiction', 'Young Adult...",Hardcover,552,Alfred A. Knopf,03/14/06,['National Jewish Book Award for Children‚Äôs an...,1834276,"['1048230', '524674', '186297', '48864', '26211']",3.8
6,Animal Farm,No,"George Orwell, Russell Baker (Preface), C.M. W...",3.95,English,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",Mass Market Paperback,141,Signet Classics,04/28/96,"['Prometheus Hall of Fame Award (2011)', 'Retr...",2740713,"['986764', '958699', '545475', '165093', '84682']",4.42

# Awards

The 'awards' columon does not have any NaN values but instead '[]' is written. We replace these values by 0 (=No) and the other by 1 (=Yes).

In [22]:
df['awards'] = np.where(df['awards'] == '[]', 'No', 'Yes')

df['awards'].value_counts(dropna=False)

No     26159
Yes     8919
Name: awards, dtype: int64

# PublishDate

In [23]:
df.dtypes

title              object
series             object
author             object
rating            float64
language           object
genres             object
bookFormat         object
pages              object
publisher          object
publishDate        object
awards             object
numRatings          int64
ratingsByStars     object
price              object
dtype: object

We need to convert it to a datetime format.

In [24]:
df['publishDate'] = pd.to_datetime(df['publishDate'], errors='coerce')

In [25]:
df.head()

,title,series,author,rating,language,genres,bookFormat,pages,publisher,publishDate,awards,numRatings,ratingsByStars,price
0,The Hunger Games,Yes,Suzanne Collins,4.33,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",Hardcover,374,Scholastic Press,2008-09-14,Yes,6376780,"['3444695', '1921313', '745221', '171994', '93...",5.09
1,Harry Potter and the Order of the Phoenix,Yes,"J.K. Rowling, Mary GrandPr√© (Illustrator)",4.50,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",Paperback,870,Scholastic Inc.,2004-09-28,Yes,2507623,"['1593642', '637516', '222366', '39573', '14526']",7.38
4,Twilight,Yes,Stephenie Meyer,3.60,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",Paperback,501,"Little, Brown and Company",2006-09-06,Yes,4964519,"['1751460', '1113682', '1008686', '542017', '5...",2.1
5,The Book Thief,No,Markus Zusak (Goodreads Author),4.37,English,"['Historical Fiction', 'Fiction', 'Young Adult...",Hardcover,552,Alfred A. Knopf,2006-03-14,Yes,1834276,"['1048230', '524674', '186297', '48864', '26211']",3.8
6,Animal Farm,No,"George Orwell, Russell Baker (Preface), C.M. W...",3.95,English,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",Mass Market Paperback,141,Signet Classics,1996-04-28,Yes,2740713,"['986764', '958699', '545475', '165093', '84682']",4.42

Then we keep only the year.

In [26]:
df['publishDate'] = df['publishDate'].astype(str).str[:4]

In [27]:
df.dtypes

title              object
series             object
author             object
rating            float64
language           object
genres             object
bookFormat         object
pages              object
publisher          object
publishDate        object
awards             object
numRatings          int64
ratingsByStars     object
price              object
dtype: object

Then we need to convert it into integer.

In [28]:
df = df[df['publishDate'] != 'NaT']

In [29]:
df['publishDate'] = df['publishDate'].astype(int)

# Pages

The type of 'pages' column is 'object' because some rows contain values like '1page' so we first need to change it as interger and then we replace the NaN values by the mean.

In [30]:
# we first need to keep only the numeric part 
df['pages'] = df['pages'].str.extract('(\d+)')

In [31]:
# we convert to interger
df['pages'] = df['pages'].astype(int)

In [32]:
df.dtypes

title              object
series             object
author             object
rating            float64
language           object
genres             object
bookFormat         object
pages               int64
publisher          object
publishDate         int64
awards             object
numRatings          int64
ratingsByStars     object
price              object
dtype: object

# Price

In [33]:
# df['price'] = df['price'].astype(float)

I got this message error : ValueError: could not convert string to float: '1.189.88'

It seems that that this price book is not in dollar but we can not guess which currency it is so we check how many row have this unusal price format and drop it if there are not too many.

In [34]:
# we look for the unsual price pattern
pattern = '^\d+\.\d+\.\d+$'

# then we check the number of rows with this price pattern
rowspattern = df['price'].str.match(pattern)
rowspattern.value_counts()

False    34954
True        10
Name: price, dtype: int64

In [35]:
# We create a new boolean column 
df['boolprice'] = rowspattern

# We check of the unsual prices fomart are there
rowstrue = df[(df['boolprice']==True)]
rowstrue.head()

,title,series,author,rating,language,genres,bookFormat,pages,publisher,publishDate,awards,numRatings,ratingsByStars,price,boolprice
5067,ÿ¨ÿØÿßÿ±Ÿäÿ©,No,Mahmoud Darwish,4.31,Arabic,"['Poetry', 'Literature', 'Philosophy', 'Anthol...",Paperback,105,ÿ±Ÿäÿßÿ∂ ÿßŸÑÿ±Ÿäÿ≥ ŸÑŸÑŸÉÿ™ÿ® ŸàÿßŸÑŸÜÿ¥ÿ±,2001,Yes,5502,"['3033', '1505', '689', '199', '76']",1.189.88,True
14042,"The Cloister and the Hearth, Volume Three of F...",No,Charles Reade,3.90,English,"['Classics', '19th Century', 'Historical Ficti...",Paperback,244,Wildside Press,2003,No,67,"['23', '23', '14', '5', '2']",1.743.28,True
20913,Cows,No,Matthew Stokoe (Goodreads Author),3.47,English,"['Horror', 'Fiction', 'Bizarro Fiction', 'Dark...",Paperback,188,Creation Books,1999,No,2862,"['711', '841', '659', '374', '277']",1.743.28,True
23764,Eros: A Journey of Multiple Loves,No,Serena Anderlini-D'Onofrio,3.75,English,"['LGBT', 'Nonfiction', 'Polyamory', 'Queer', '...",Paperback,223,Routledge,2006,No,4,[],1.307.46,True
28279,Way Of The Samurai,No,"Yukio Mishima, Kathryn Sparling (Translator), ...",3.89,English,"['Japan', 'Philosophy', 'Nonfiction', 'Japanes...",Hardcover,166,Basic Books,1977,No,592,"['179', '217', '155', '36', '5']",1.307.46,True

In [36]:
# we drop the unsual pattern rows
df = df[df['boolprice'] != True]

In [37]:
# we drop the column 'boolprice'
df = df.drop(columns=['boolprice'])

# we convert the 'price' column into float
df['price'] = df['price'].astype(float)

In [38]:
df.head()

,title,series,author,rating,language,genres,bookFormat,pages,publisher,publishDate,awards,numRatings,ratingsByStars,price
0,The Hunger Games,Yes,Suzanne Collins,4.33,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",Hardcover,374,Scholastic Press,2008,Yes,6376780,"['3444695', '1921313', '745221', '171994', '93...",5.09
1,Harry Potter and the Order of the Phoenix,Yes,"J.K. Rowling, Mary GrandPr√© (Illustrator)",4.50,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",Paperback,870,Scholastic Inc.,2004,Yes,2507623,"['1593642', '637516', '222366', '39573', '14526']",7.38
4,Twilight,Yes,Stephenie Meyer,3.60,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",Paperback,501,"Little, Brown and Company",2006,Yes,4964519,"['1751460', '1113682', '1008686', '542017', '5...",2.10
5,The Book Thief,No,Markus Zusak (Goodreads Author),4.37,English,"['Historical Fiction', 'Fiction', 'Young Adult...",Hardcover,552,Alfred A. Knopf,2006,Yes,1834276,"['1048230', '524674', '186297', '48864', '26211']",3.80
6,Animal Farm,No,"George Orwell, Russell Baker (Preface), C.M. W...",3.95,English,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",Mass Market Paperback,141,Signet Classics,1996,Yes,2740713,"['986764', '958699', '545475', '165093', '84682']",4.42

# Ratings by stars

We need to seperate the column ratingsByStars in 5, one for each number of stars ratings.

In [39]:
# we first remove the apostrophes and square brackets
df['ratingsByStars'] = [e.replace("'", "") for e in df['ratingsByStars']]
df['ratingsByStars'] = [e.replace("[", "") for e in df['ratingsByStars']]
df['ratingsByStars'] = [e.replace("]", "") for e in df['ratingsByStars']]
df.head()

,title,series,author,rating,language,genres,bookFormat,pages,publisher,publishDate,awards,numRatings,ratingsByStars,price
0,The Hunger Games,Yes,Suzanne Collins,4.33,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",Hardcover,374,Scholastic Press,2008,Yes,6376780,"3444695, 1921313, 745221, 171994, 93557",5.09
1,Harry Potter and the Order of the Phoenix,Yes,"J.K. Rowling, Mary GrandPr√© (Illustrator)",4.50,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",Paperback,870,Scholastic Inc.,2004,Yes,2507623,"1593642, 637516, 222366, 39573, 14526",7.38
4,Twilight,Yes,Stephenie Meyer,3.60,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",Paperback,501,"Little, Brown and Company",2006,Yes,4964519,"1751460, 1113682, 1008686, 542017, 548674",2.10
5,The Book Thief,No,Markus Zusak (Goodreads Author),4.37,English,"['Historical Fiction', 'Fiction', 'Young Adult...",Hardcover,552,Alfred A. Knopf,2006,Yes,1834276,"1048230, 524674, 186297, 48864, 26211",3.80
6,Animal Farm,No,"George Orwell, Russell Baker (Preface), C.M. W...",3.95,English,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",Mass Market Paperback,141,Signet Classics,1996,Yes,2740713,"986764, 958699, 545475, 165093, 84682",4.42

In [40]:
# then we split the values on the coma
df[['5*', '4*', '3*', '2*', '1*']] = df['ratingsByStars'].str.split(',', expand=True)
df = df.drop(columns=['ratingsByStars'])

In [41]:
df.isna().sum()

title            0
series           0
author           0
rating           0
language         0
genres           0
bookFormat       0
pages            0
publisher        0
publishDate      0
awards           0
numRatings       0
price            0
5*               0
4*             324
3*             324
2*             324
1*             324
dtype: int64

We suppose that NaN values for star ratings are because people only gave a 5 stars rating so we replace them by 0.

In [42]:
df[['5*', '4*', '3*', '2*', '1*']] = df[['5*', '4*', '3*', '2*', '1*']].fillna(0)
df.isna().sum()

title          0
series         0
author         0
rating         0
language       0
genres         0
bookFormat     0
pages          0
publisher      0
publishDate    0
awards         0
numRatings     0
price          0
5*             0
4*             0
3*             0
2*             0
1*             0
dtype: int64

# Author

We need to keep only the author name and not some other not relevant information.

In [43]:
df['author'] = df['author'].str.split(',').str[0].str.strip()

In [44]:
df.head()

,title,series,author,rating,language,genres,bookFormat,pages,publisher,publishDate,awards,numRatings,price,5*,4*,3*,2*,1*
0,The Hunger Games,Yes,Suzanne Collins,4.33,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",Hardcover,374,Scholastic Press,2008,Yes,6376780,5.09,3444695,1921313,745221,171994,93557
1,Harry Potter and the Order of the Phoenix,Yes,J.K. Rowling,4.50,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",Paperback,870,Scholastic Inc.,2004,Yes,2507623,7.38,1593642,637516,222366,39573,14526
4,Twilight,Yes,Stephenie Meyer,3.60,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",Paperback,501,"Little, Brown and Company",2006,Yes,4964519,2.10,1751460,1113682,1008686,542017,548674
5,The Book Thief,No,Markus Zusak (Goodreads Author),4.37,English,"['Historical Fiction', 'Fiction', 'Young Adult...",Hardcover,552,Alfred A. Knopf,2006,Yes,1834276,3.80,1048230,524674,186297,48864,26211
6,Animal Farm,No,George Orwell,3.95,English,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",Mass Market Paperback,141,Signet Classics,1996,Yes,2740713,4.42,986764,958699,545475,165093,84682

In [45]:
df['author'] = df['author'].str.replace(r'\s*\(.*\)', '').str.strip()

/var/folders/7j/l1wcl8z56w9bsr_12qmb6hrm0000gn/T/ipykernel_47275/841534234.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['author'] = df['author'].str.replace(r'\s*\(.*\)', '').str.strip()

In [46]:
df.head()

,title,series,author,rating,language,genres,bookFormat,pages,publisher,publishDate,awards,numRatings,price,5*,4*,3*,2*,1*
0,The Hunger Games,Yes,Suzanne Collins,4.33,English,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",Hardcover,374,Scholastic Press,2008,Yes,6376780,5.09,3444695,1921313,745221,171994,93557
1,Harry Potter and the Order of the Phoenix,Yes,J.K. Rowling,4.50,English,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",Paperback,870,Scholastic Inc.,2004,Yes,2507623,7.38,1593642,637516,222366,39573,14526
4,Twilight,Yes,Stephenie Meyer,3.60,English,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",Paperback,501,"Little, Brown and Company",2006,Yes,4964519,2.10,1751460,1113682,1008686,542017,548674
5,The Book Thief,No,Markus Zusak,4.37,English,"['Historical Fiction', 'Fiction', 'Young Adult...",Hardcover,552,Alfred A. Knopf,2006,Yes,1834276,3.80,1048230,524674,186297,48864,26211
6,Animal Farm,No,George Orwell,3.95,English,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",Mass Market Paperback,141,Signet Classics,1996,Yes,2740713,4.42,986764,958699,545475,165093,84682

# Checking types before encoding

In [47]:
df.dtypes

title           object
series          object
author          object
rating         float64
language        object
genres          object
bookFormat      object
pages            int64
publisher       object
publishDate      int64
awards          object
numRatings       int64
price          float64
5*              object
4*              object
3*              object
2*              object
1*              object
dtype: object

In [48]:
df['5*'] = df['5*'].replace('', 0)

In [49]:
df[['5*', '4*', '3*', '2*', '1*']] = df[['5*', '4*', '3*', '2*', '1*']].astype(int)

In [50]:
df.dtypes

title           object
series          object
author          object
rating         float64
language        object
genres          object
bookFormat      object
pages            int64
publisher       object
publishDate      int64
awards          object
numRatings       int64
price          float64
5*               int64
4*               int64
3*               int64
2*               int64
1*               int64
dtype: object

In [51]:
df.shape

(34954, 18)

In [52]:
df.to_csv('df_recommender_cleaned.csv', index=False)